#logo
{
    position: relative;
    width: 100px;
    height: 18px;
    float: right;

    background-image: url('/home/maddy/500x297[1]_1.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#logo:hover
{
    background-image: url('/home/maddy/index.jpeg');
}

